.info-item {
    padding-top : 5vh;
}

.info-div {
    background-color: rgb(219, 219, 219);
    border-radius: 25px;
    width : 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding-left : 3vw;
    padding-right : 3vw;
}

.last-item {
    padding-bottom: 5vh;
}

.primary_info {
    padding-top : 2vh;
}

.additional_info {
    margin-top : 3vh;
}

.info-item-title {
    display: inline-block;
    padding-right : 0.5vw;
}

.info-item-content {
    display: inline-block;
}

.checkbox {
    margin-right: 1vw;
    display: inline-block;
}

.info-label {
    padding-bottom: 0.5vh;
}

.edit-div {
    width: 100%;
    text-align: end;
    padding-top: 2vh;
}

.info-input {
    background-color: rgb(219, 219, 219);
    border: solid rgb(33, 37, 41) 2px;
}

.non-visible {
    display: none;
}

.is-visible {
    
}

.inline {
    display: inline;
} 

.to-edit {
    
}

.edit-div-form {
    display: inline;
}

.info-textarea {
    width : 30vw;
}

.specialization {

}

.payment {

}

