.menu-content-header {
    padding-top: 2vh;
}

.menu-content-create_group {
    
}

.menu-content-menu {
    padding-top: 2vh;

}

.menu-content-create_group_active {
    width: 50%;
    border: solid 1px rgb(200, 200, 200);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

.display-none {
    display: none;
}

.div-name {

}

.div-name-label {
    display: inline-block;
}

.div-name-input {
    display: inline-block;
    padding-left: 1vw;
}

.div-buttons-portion_price {
    padding-top : 1vh;
}

.button-portion_price {
    margin-right : 1vh;
    margin-bottom : 1vh;
}

.button-portion_price-create {
    
}

.button-portion_price-delete {

}

.button-form {
    margin-right: 1vh;
    margin-bottom: 1vh;
}

.div-button-create {

}

.div-portion-price {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 0.5vh;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
}

.div-portion {
    display: inline-block;
}

.div-price {
    display: inline-block;
}

.div-portion-price-label {
    display: inline-block;
    width : 30%;
}

.div-portion-price-input {
    display: inline-block;
    box-sizing: border-box;
}

.product-group {
    
}

.product-group-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 0.25rem;
}

.product-group-content {
    align-items: end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding : 2vh 2vw 2vw 2vh;
}

.product {
    word-wrap: break-word;
    width: 30%;
    border : 1px solid gray;
    padding : 1vh;
}

.product-group-title-info {
    flex-grow : 1;
    vertical-align: top;
}

.product-group-title-info-name {
    padding-bottom: 1vh;
}

.product-group-title-info-portion_prices {
    
}

.product-group-title-options {
    flex-grow: 1;
    text-align: end;
}

.product-group-title-info-portion_price {
    
}

.button-edit-product-group {
    margin-bottom: 0.5vh;
}

.input-edit-product_group-portion {

}

.span-edit-product_group-portion {
}

input-edit-product_group-price {

}

.span-edit-product_group-price {
}

.input-edit-product_group {
    width: 30% !important;
}

.menu-content-buttons {

}

.menu-content-button {
    float: left;
    margin-right: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.product + .product {
    margin-left : 2vw;
}