@model IEnumerable<DeliveryClub.Web.ViewModels.SuperUser.GetAdminViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="superuser-div">
    <h2>Administrators</h2>
    <a class="usercrud-div_create-a__size_m usercrud-div_create-a__no-highlight" id="createSpecialUser-a" asp-action="CreateAdmin" asp-controller="SuperUser">Create</a>
    <table class="table usercrud-div_user-table__fixed">
        <thead class="thead-dark">
            <tr>
                <th>
                    Login
                </th>
                <th>
                    Restaurant
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in Model)
            {
            <tr>
                <td>
                    @admin.Email
                </td>
                <td>
                    @admin.RestaurantName
                </td>
                <td>
                    <div class="user-table_option-column">
                        <form method="get" asp-action="UpdateAdmin">
                            <input type="hidden" name="id" value=@admin.Id />
                            <a class="user-table_option-a__no-highlight" onclick="this.parentNode.submit()">✏️</a>
                        </form>
                        <form method="post" asp-action="DeleteAdmin">
                            <input type="hidden" name="id" value=@admin.Id />
                            <a class="user-table_option-a__no-highlight" onclick="this.parentNode.submit()">🗑️</a>
                        </form>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/tabs.js"></script>



