
@{
    ViewData["Title"] = "Index";
}

<h1>Special Users</h1>
<ul class="nav nav-tabs" id="tab-container" data-active-tab="">
    <li class="nav-item">
        <a class="nav-link active" id="admins-tab" href="" data-toggle="tab">Administrators</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="dispatchers-tab" href="" data-toggle="tab">Dispatchers</a>
    </li>
</ul>

