@using System.Net;
@using DeliveryClub.Infrastructure.Constants
@model int
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1 class="display-3">Thank you for order!</h1>

<p class="accordion" style="font-size: 24px">Your order number is: <strong>@Model</strong></p>
<p style="font-size: 24px;">Our dispatcher will contact you shortly.</p>

