<div class="cart">
    <div class="cart-header">
        <div>
            <h3 class="cart-header_h3-cart__mo-margin">Cart</h3>
        </div>
        <div class="green-round ">
            <h6 class="cart-header_h6-cart__mo-margin">35</h6>
        </div>
    </div>
    <div class="cart-main">
    </div>
    <div class="cart-footer">
    </div>
</div>
