<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8"/>
        <title>Delivery Club</title>
        <link rel="stylesheet" href="~/css/reset.css"/>
        <link rel="stylesheet" href="~/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site/bundle.css"/>
    </head>
    <body>
        <header>
            <div class="header-div">
                <div class="home-div">
                    <h1 class="home-div_logo-h1__size_m"><a class="home-div_logo-a__size_m" asp-action="Index">Delivery Club</a></h1>
                </div>
                <div class="login-div">
                    <partial name="_LoginPartial"/>
                </div>
            </div>                 
        </header>
        <div class="content">            
            @RenderBody()
        </div>
        
        @if (IsSectionDefined("scripts"))
        {
            RenderSection("scripts");
        }
    </body>

</html>