.content {
    margin-left : 10vw;
}

.header-div {
    display : flex;
    flex-direction : row;
    height : 10vh;
    margin-left : 10vw;
}

.home-div {
    flex-grow : 1;
}

.login-div {
    flex-grow : 2;
}