.content {
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}

.center-div {
    flex-grow: 10;
    text-align: center;
}



.header-div {
    display : flex;
    flex-direction : row;
    height : 10vh;
    border-bottom : 1px solid rgb(200, 200, 200);
    background-image: url(/resources/img/site/header.png);
}
.home-div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-div_logo-h1__size_m {
    display: block;
    width: auto;
}

.header-a {
    color: antiquewhite !important;
    font-size: 20px;
}

.home-div_logo-a__size_m {
    color: antiquewhite !important;
}

.home-div_logo-a__size_m:hover {
    text-decoration: none;
    cursor: pointer;    
}
.login-div {
    flex-grow : 2;
}
.usercrud-div_create-a__size_m {
    display: block;
    font-size: 24px;
    width: 4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.usercrud-div_create-a__no-highlight:hover {
    text-decoration: none;
}


.usercrud-div_user-table__fixed {
    table-layout: fixed;
}

.user-table_option-a__no-highlight:hover {
    text-decoration: none;
    cursor: pointer;
}

.user-table_option-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info-item {
    padding-top : 5vh;
}

.info-div {
    background-color: rgb(219, 219, 219);
    border-radius: 25px;
    width : 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding-left : 3vw;
    padding-right : 3vw;
}

.last-item {
    padding-bottom: 5vh;
}

.primary_info {
    padding-top : 2vh;
}

.additional_info {
    margin-top : 3vh;
}

.info-item-title {
    display: inline-block;
    padding-right : 0.5vw;
}

.info-item-content {
    display: inline-block;
}

.checkbox {
    margin-right: 1vw;
    display: inline-block;
}

.info-label {
    padding-bottom: 0.5vh;
}

.edit-div {
    width: 100%;
    text-align: end;
    padding-top: 2vh;
}

.info-input {
    background-color: rgb(219, 219, 219);
    border: solid rgb(33, 37, 41) 2px;
}

.non-visible {
    display: none;
}

.is-visible {
    
}

.inline {
    display: inline;
} 

.to-edit {
    
}

.edit-div-form {
    display: inline;
}

.info-textarea {
    width : 30vw;
}

.specialization {

}

.payment {

}


.menu-content-header {
    padding-top: 2vh;
}

.menu-content-create_group {
    
}

.menu-content-menu {
    padding-top: 2vh;

}

.menu-content-create_group_active {
    width: 50%;
    border: solid 1px rgb(200, 200, 200);
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
}

.display-none {
    display: none;
}

.div-name {

}

.div-name-label {
    display: inline-block;
}

.div-name-input {
    display: inline-block;
    padding-left: 1vw;
}

.div-buttons-portion_price {
    padding-top : 1vh;
}

.button-portion_price {
    margin-right : 1vh;
    margin-bottom : 1vh;
}

.button-portion_price-create {
    
}

.button-portion_price-delete {

}

.button-form {
    margin-right: 1vh;
    margin-bottom: 1vh;
}

.div-button-create {

}

.div-portion-price {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 0.5vh;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
}

.div-portion {
    display: inline-block;
}

.div-price {
    display: inline-block;
}

.div-portion-price-label {
    display: inline-block;
    width : 30%;
}

.div-portion-price-input {
    display: inline-block;
    box-sizing: border-box;
}

.product-group {
    
}

.product-group-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 0.25rem;
}

.product-group-content {
    align-items: end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding : 7px;
}

.product {
    word-wrap: break-word;
    width: calc(1/3*100% - 10px);
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 2vh;
    margin: 5px;
}

.product-group-title-info {
    flex-grow : 1;
    vertical-align: top;
}

.product-group-title-info-name {
    padding-bottom: 1vh;
}

.product-group-title-info-portion_prices {
    
}

.product-group-title-options {
    flex-grow: 1;
    text-align: end;
}

.product-group-title-info-portion_price {
    
}

.button-edit-product-group {
    margin-bottom: 0.5vh;
}

.input-edit-product_group-portion {

}

.span-edit-product_group-portion {
}

input-edit-product_group-price {

}

.span-edit-product_group-price {
}

.input-edit-product_group {
    width: 30% !important;
}

.menu-content-buttons {

}

.menu-content-button {
    float: left;
    margin-right: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.product-img {
    height: 200px;
}

.product-image {
    text-align: center;
}

.product-edit-image {
    text-align: center;
}

.product-description {
    word-break: break-word;
}

.product-portion-price {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-portion {
    display: block;
}

.product-price {
    display: block;
    text-align: right;
}

.product-name {
    margin-top: 1vh;
}

.product-buttons {
    display: flex;
    justify-content: flex-end;
}

.product-button {
    margin: 1px;
}
.text-ellipsis {
    text-overflow: ellipsis;
}

.card-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.card-extension {
    width: 100%;    
}

.card-a {
    display: block;
    width: calc(1 / 3 * 100% - 10px);
    cursor: pointer;
    margin: 5px;
}

.restaurant-info-span {
    display: inline-block;
    margin-right: 1vw;
}

.specialization-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.specialization-item {
    border: 2px solid rgb(70, 194, 4);
    border-radius: 10px;
    height: 6vh;
    width: 10vh;
    text-align: center;
    vertical-align: central;
    margin: 1vh 1vw 1vh 0;
    cursor: pointer;
}

.payment-method-item {
    border: 2px solid rgb(43, 29, 133);
    border-radius: 10px;
    height: 6vh;
    width: 10vh;
    text-align: center;
    vertical-align: central;
    margin: 1vh 1vw 1vh 0;
    cursor: pointer;
}

.gray-background {
    background-color: rgb(70, 194, 4);    
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-extension {
    width: 100%;
}

.card-a {
    display: block;
    width: calc(1 / 3 * 100% - 40px);
    cursor: pointer;    
    text-decoration: none !important;
}

.site {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main {
    width: 83%;
}

.cart {
    width: 17%;
    border-left: 1px solid rgb(200, 200, 200);
    height: 100%;
    position: fixed;
    margin-left: 83%;
}

.cart-header {
    display: flex;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgb(200, 200, 200);
    border-collapse: collapse;
}

.cart-header_cart {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

.cart-main {
    height: 80%;
    overflow-y: auto;
}

.cart-footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgb(200, 200, 200);
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

.user-content {
    margin: 2vh 10vw 0 5vw;
}

.cart_green-round {
    margin-top: 3px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(70, 194, 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-header_h3-cart__mo-margin {
    margin: 0 1vh 0 0;
}

.cart-header_h6-cart__mo-margin {
    margin: 0 0 0 0;
}

.cart_title {
    padding-bottom: 6px;
}

.cart_img__clickable {
    cursor: pointer;
}

.product_amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.user-restaurant-tag {
    font-size: 48px;
    display: block;
}

.user-restaurant-full_name {
}

.m-20 {
    margin: 20px;
}

.user-restaurant-full_info__b-item {
    display: block;
    margin-top: 2vw;
}

.user-restaurant-full_info__specializations {
    display: flex;
    flex-direction: row;
}

.user-restaurant-full_info__paymentMethods {
    display: flex;
    flex-direction: row;
}


.user-restaurant-full_info__ib-item {
    display: inline-block;
    margin-top: 3vh;
    margin-right: 3vw;
    border: 2px solid #00bdb8;
    padding: 4px;
    border-radius: 10px;
}

.user-restaurant-specialization-item {
    border: 2px solid rgb(70, 194, 4);
    border-radius: 10px;
    height: 6vh;
    width: 10vh;
    text-align: center;
    vertical-align: central;
    margin: 1vh 0 1vh 0;
}

.user-restaurant-full_product-group {
    
}

.user-restaurant-full_products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-restaurant-full_product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(1 / 5 * 100% - 15px);
    margin: 20px;
    padding: 10px;
    border: 2px solid rgb(255, 204, 0);
    border-radius: 15px;
}

.product_product-image-div {
    position: relative;
    z-index: 1;
    text-align: center;
    transform: translate(0, -120%);
}

.product_product-image__size-m {
    width: 7.5vw;
    height: 7vw;
}

.background-image-div {
    display: block;
    position: relative;
    z-index: -1;
    text-align: center;
}

.background-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.user-restaurant-full_product-name {
    margin-top: -45%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portion-select {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 3px;
    margin-top: -1vh;
}

.user-restaurant-full_product-add {
    text-align: right;
}

.mb-3px {
    margin-bottom: 3px;
}
.order {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    border-collapse: collapse;
    padding: 10px;
}

.order-restaurant {
    padding: 3px;
}

.order_products {
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.products_product {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.order_delivery {
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.btn-change-amount {
    border-radius: 50%;
    background-color: gray;
    color: black;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: central;
    font-weight: 900;
    font-size: 13px;
}

.product-details {
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
}



.delivery-address-form-group {
    display: flex;
    flex-direction: column;
}

.delivery-address_street-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}

.delivery-address_addit-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}

.delivery-address_addit-div-item {
    display: flex;
    flex-direction: row;
    width: calc(1 / 3 * 100%);
    padding: 0 2px 0 2px;
}

.delivery-address_label {
    margin-right: 0.5vw;
    margin-top: 0.7vh;
}

.order_form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order_title {
    margin-bottom: 1vh;
    position: relative;
    z-index: 0;
    margin-top: -70vh;
    margin-left: 2vw;
}

.order_form {
    width: 35%;
    position: relative;
    z-index: 0;
    margin-left: 2vw;
    margin-bottom: 8vh;
}

.order-background {
    background-image: url(/resources/img/site/orderBackgrou.png);
    background-size: contain;
    position: relative;
    z-index: -1;
    width: 55.5vh;
    height: 75vh;
}

.order-div {
    margin-left: 10%;
}

.order_btn-send {
    margin-top: 2vh;
}

.order_comment {
    resize: none;
}
.mtb-1vh {
    margin: 1vh 0 1vh 0;
}

.new-order {
    background-color: lightgreen;
}