.home-div {
    flex-grow: 1;
    border-right: 1px solid rgb(200, 200, 200);
    text-align : center;
}

.home-div_logo-h1__size_m {
    display : block;
    width : auto;
    
}

.home-div_logo-a__size_m:hover {
    text-decoration: none;
    cursor: pointer;
}