.usercrud-div_create-a__size_m {
    display: block;
    font-size: 24px;
    width: 4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.usercrud-div_create-a__no-highlight:hover {
    text-decoration: none;
}


.usercrud-div_user-table__fixed {
    table-layout: fixed;
}

.user-table_option-a__no-highlight:hover {
    text-decoration: none;
    cursor: pointer;
}

.user-table_option-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}